In [1]:
#Assignment VidalDosSantos, Jelic, Forte

In [2]:
import numpy as np
import pandas as pd

In [3]:
#read-in data as pandaFrame
df = pd.read_csv('data/US_Accidents_March23.csv')
#convert to numpy-Array in order to execute ops 
np_array = df.to_numpy()
print(np_array)

[['A-1' 'Source2' 3 ... 'Night' 'Night' 'Night']
 ['A-2' 'Source2' 2 ... 'Night' 'Night' 'Day']
 ['A-3' 'Source2' 2 ... 'Night' 'Day' 'Day']
 ...
 ['A-7777759' 'Source1' 2 ... 'Day' 'Day' 'Day']
 ['A-7777760' 'Source1' 2 ... 'Day' 'Day' 'Day']
 ['A-7777761' 'Source1' 2 ... 'Day' 'Day' 'Day']]

In [4]:
#filter data with 2 conditions
sourceArray = np_array[:,1]
severityArray = np_array[:,2]
temperatureArray = np_array[:,20]
filtered_data_severity = severityArray[np.argwhere(severityArray > 3)]
print(filtered_data_severity)
filtered_data_source = sourceArray[np.argwhere(sourceArray == 'Source1')]
print(filtered_data_source)

[[4]
 [4]
 [4]
 ...
 [4]
 [4]
 [4]]
[['Source1']
 ['Source1']
 ['Source1']
 ...
 ['Source1']
 ['Source1']
 ['Source1']]

In [5]:
#2 statistics
print(np.mean(severityArray))
print(np.median(temperatureArray))

2.212384487643875
63.0

In [6]:
#calculate new column
df['source_severity'] = df['Source'].astype(str) + df['Severity'].astype(str)
print(df['source_severity'])

0          Source23
1          Source22
2          Source22
3          Source23
4          Source22
             ...
7728389    Source12
7728390    Source12
7728391    Source12
7728392    Source12
7728393    Source12
Name: source_severity, Length: 7728394, dtype: object

In [7]:
#change naming
df.rename(columns={'source_severity':'severity_source'})

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,severity_source
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.010,...,False,False,False,False,False,Night,Night,Night,Night,Source23
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.010,...,False,False,False,False,False,Night,Night,Night,Day,Source22
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.010,...,False,False,False,True,False,Night,Night,Day,Day,Source22
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.010,...,False,False,False,False,False,Night,Day,Day,Day,Source23
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.010,...,False,False,False,True,False,Day,Day,Day,Day,Source22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7728389,A-7777757,Source1,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.99888,-117.37094,0.543,...,False,False,False,False,False,Day,Day,Day,Day,Source12
7728390,A-7777758,Source1,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.76555,-117.15363,0.338,...,False,False,False,False,False,Day,Day,Day,Day,Source12
7728391,A-7777759,Source1,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.77740,-117.85727,0.561,...,False,False,False,False,False,Day,Day,Day,Day,Source12
7728392,A-7777760,Source1,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.98311,-118.39565,0.772,...,False,False,False,False,False,Day,Day,Day,Day,Source12
7728393,A-7777761,Source1,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.13736,-117.23934,0.537,...,False,False,False,False,False,Day,Day,Day,Day,Source12

In [8]:
#change order of columns
cols = list(df.columns)
cols[-2], cols[-1] = cols[-1], cols[-2]
df = df[cols]
print(df)

                ID   Source  Severity           Start_Time  \
0              A-1  Source2         3  2016-02-08 05:46:00
1              A-2  Source2         2  2016-02-08 06:07:59
2              A-3  Source2         2  2016-02-08 06:49:27
3              A-4  Source2         3  2016-02-08 07:23:34
4              A-5  Source2         2  2016-02-08 07:39:07
...            ...      ...       ...                  ...
7728389  A-7777757  Source1         2  2019-08-23 18:03:25
7728390  A-7777758  Source1         2  2019-08-23 19:11:30
7728391  A-7777759  Source1         2  2019-08-23 19:00:21
7728392  A-7777760  Source1         2  2019-08-23 19:00:21
7728393  A-7777761  Source1         2  2019-08-23 18:52:06

                    End_Time  Start_Lat   Start_Lng   End_Lat    End_Lng  \
0        2016-02-08 11:00:00  39.865147  -84.058723       NaN        NaN
1        2016-02-08 06:37:59  39.928059  -82.831184       NaN        NaN
2        2016-02-08 07:19:27  39.063148  -84.032608       NaN        NaN
3        2016-02-08 07:53:34  39.747753  -84.205582       NaN        NaN
4        2016-02-08 08:09:07  39.627781  -84.188354       NaN        NaN
...                      ...        ...         ...       ...        ...
7728389  2019-08-23 18:32:01  34.002480 -117.379360  33.99888 -117.37094
7728390  2019-08-23 19:38:23  32.766960 -117.148060  32.76555 -117.15363
7728391  2019-08-23 19:28:49  33.775450 -117.847790  33.77740 -117.85727
7728392  2019-08-23 19:29:42  33.992460 -118.403020  33.98311 -118.39565
7728393  2019-08-23 19:21:31  34.133930 -117.230920  34.13736 -117.23934

         Distance(mi)  ... Station   Stop Traffic_Calming Traffic_Signal  \
0               0.010  ...   False  False           False          False
1               0.010  ...   False  False           False          False
2               0.010  ...   False  False           False           True
3               0.010  ...   False  False           False          False
4               0.010  ...   False  False           False           True
...               ...  ...     ...    ...             ...            ...
7728389         0.543  ...   False  False           False          False
7728390         0.338  ...   False  False           False          False
7728391         0.561  ...   False  False           False          False
7728392         0.772  ...   False  False           False          False
7728393         0.537  ...   False  False           False          False

        Turning_Loop Sunrise_Sunset Civil_Twilight Nautical_Twilight  \
0              False          Night          Night             Night
1              False          Night          Night             Night
2              False          Night          Night               Day
3              False          Night            Day               Day
4              False            Day            Day               Day
...              ...            ...            ...               ...
7728389        False            Day            Day               Day
7728390        False            Day            Day               Day
7728391        False            Day            Day               Day
7728392        False            Day            Day               Day
7728393        False            Day            Day               Day

        source_severity Astronomical_Twilight
0              Source23                 Night
1              Source22                   Day
2              Source22                   Day
3              Source23                   Day
4              Source22                   Day
...                 ...                   ...
7728389        Source12                   Day
7728390        Source12                   Day
7728391        Source12                   Day
7728392        Source12                   Day
7728393        Source12                   Day

[7728394 rows x 47 columns]

In [10]:
#delete column severity_source
df = df.drop('source_severity', axis=1)
print(df)

                ID   Source  Severity           Start_Time  \
0              A-1  Source2         3  2016-02-08 05:46:00
1              A-2  Source2         2  2016-02-08 06:07:59
2              A-3  Source2         2  2016-02-08 06:49:27
3              A-4  Source2         3  2016-02-08 07:23:34
4              A-5  Source2         2  2016-02-08 07:39:07
...            ...      ...       ...                  ...
7728389  A-7777757  Source1         2  2019-08-23 18:03:25
7728390  A-7777758  Source1         2  2019-08-23 19:11:30
7728391  A-7777759  Source1         2  2019-08-23 19:00:21
7728392  A-7777760  Source1         2  2019-08-23 19:00:21
7728393  A-7777761  Source1         2  2019-08-23 18:52:06

                    End_Time  Start_Lat   Start_Lng   End_Lat    End_Lng  \
0        2016-02-08 11:00:00  39.865147  -84.058723       NaN        NaN
1        2016-02-08 06:37:59  39.928059  -82.831184       NaN        NaN
2        2016-02-08 07:19:27  39.063148  -84.032608       NaN        NaN
3        2016-02-08 07:53:34  39.747753  -84.205582       NaN        NaN
4        2016-02-08 08:09:07  39.627781  -84.188354       NaN        NaN
...                      ...        ...         ...       ...        ...
7728389  2019-08-23 18:32:01  34.002480 -117.379360  33.99888 -117.37094
7728390  2019-08-23 19:38:23  32.766960 -117.148060  32.76555 -117.15363
7728391  2019-08-23 19:28:49  33.775450 -117.847790  33.77740 -117.85727
7728392  2019-08-23 19:29:42  33.992460 -118.403020  33.98311 -118.39565
7728393  2019-08-23 19:21:31  34.133930 -117.230920  34.13736 -117.23934

         Distance(mi)  ... Roundabout Station   Stop Traffic_Calming  \
0               0.010  ...      False   False  False           False
1               0.010  ...      False   False  False           False
2               0.010  ...      False   False  False           False
3               0.010  ...      False   False  False           False
4               0.010  ...      False   False  False           False
...               ...  ...        ...     ...    ...             ...
7728389         0.543  ...      False   False  False           False
7728390         0.338  ...      False   False  False           False
7728391         0.561  ...      False   False  False           False
7728392         0.772  ...      False   False  False           False
7728393         0.537  ...      False   False  False           False

        Traffic_Signal Turning_Loop Sunrise_Sunset Civil_Twilight  \
0                False        False          Night          Night
1                False        False          Night          Night
2                 True        False          Night          Night
3                False        False          Night            Day
4                 True        False            Day            Day
...                ...          ...            ...            ...
7728389          False        False            Day            Day
7728390          False        False            Day            Day
7728391          False        False            Day            Day
7728392          False        False            Day            Day
7728393          False        False            Day            Day

        Nautical_Twilight Astronomical_Twilight
0                   Night                 Night
1                   Night                   Day
2                     Day                   Day
3                     Day                   Day
4                     Day                   Day
...                   ...                   ...
7728389               Day                   Day
7728390               Day                   Day
7728391               Day                   Day
7728392               Day                   Day
7728393               Day                   Day

[7728394 rows x 46 columns]

In [11]:
#use str-Accesor --> replace ID (A-1 --> 1)
df['ID'] = df['ID'].str.replace('A-','')
print(df)

              ID   Source  Severity           Start_Time             End_Time  \
0              1  Source2         3  2016-02-08 05:46:00  2016-02-08 11:00:00
1              2  Source2         2  2016-02-08 06:07:59  2016-02-08 06:37:59
2              3  Source2         2  2016-02-08 06:49:27  2016-02-08 07:19:27
3              4  Source2         3  2016-02-08 07:23:34  2016-02-08 07:53:34
4              5  Source2         2  2016-02-08 07:39:07  2016-02-08 08:09:07
...          ...      ...       ...                  ...                  ...
7728389  7777757  Source1         2  2019-08-23 18:03:25  2019-08-23 18:32:01
7728390  7777758  Source1         2  2019-08-23 19:11:30  2019-08-23 19:38:23
7728391  7777759  Source1         2  2019-08-23 19:00:21  2019-08-23 19:28:49
7728392  7777760  Source1         2  2019-08-23 19:00:21  2019-08-23 19:29:42
7728393  7777761  Source1         2  2019-08-23 18:52:06  2019-08-23 19:21:31

         Start_Lat   Start_Lng   End_Lat    End_Lng  Distance(mi)  ...  \
0        39.865147  -84.058723       NaN        NaN         0.010  ...
1        39.928059  -82.831184       NaN        NaN         0.010  ...
2        39.063148  -84.032608       NaN        NaN         0.010  ...
3        39.747753  -84.205582       NaN        NaN         0.010  ...
4        39.627781  -84.188354       NaN        NaN         0.010  ...
...            ...         ...       ...        ...           ...  ...
7728389  34.002480 -117.379360  33.99888 -117.37094         0.543  ...
7728390  32.766960 -117.148060  32.76555 -117.15363         0.338  ...
7728391  33.775450 -117.847790  33.77740 -117.85727         0.561  ...
7728392  33.992460 -118.403020  33.98311 -118.39565         0.772  ...
7728393  34.133930 -117.230920  34.13736 -117.23934         0.537  ...

        Roundabout Station   Stop Traffic_Calming Traffic_Signal Turning_Loop  \
0            False   False  False           False          False        False
1            False   False  False           False          False        False
2            False   False  False           False           True        False
3            False   False  False           False          False        False
4            False   False  False           False           True        False
...            ...     ...    ...             ...            ...          ...
7728389      False   False  False           False          False        False
7728390      False   False  False           False          False        False
7728391      False   False  False           False          False        False
7728392      False   False  False           False          False        False
7728393      False   False  False           False          False        False

        Sunrise_Sunset Civil_Twilight Nautical_Twilight Astronomical_Twilight
0                Night          Night             Night                 Night
1                Night          Night             Night                   Day
2                Night          Night               Day                   Day
3                Night            Day               Day                   Day
4                  Day            Day               Day                   Day
...                ...            ...               ...                   ...
7728389            Day            Day               Day                   Day
7728390            Day            Day               Day                   Day
7728391            Day            Day               Day                   Day
7728392            Day            Day               Day                   Day
7728393            Day            Day               Day                   Day

[7728394 rows x 46 columns]

In [12]:
df.to_csv('data/edited_file.csv')